// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;

//Our colours:
$sage: #699576;
$grapefruit: #FD6F63;
$maize: #FECE63;
$ivory: #FDFFF5;
$seaweed: #0A6259;
$gunmetal: #182B33;
