.inner-padding-box {
	padding: 36px;
}

.confirmation-header {
	// margin-bottom: 16px;
}

.confirmation-instructions-container {
	display: flex;
	margin-left: 24px;
}

.confirmation-box {
	display: flex;
	align-items: center;
}

.confirmation-pic {
	height: 240px;
	width: 480px;
	background-size: cover;
	background-position: center;
}

.share-box {
	background-color: $darker-ivory;
	display: flex;
  height: 60px;
	align-items: center;
	justify-content: center;
	border-radius: 24px;
	padding: 8px;
	margin-bottom: 16px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  .social-share-button {
  .ssb-icon {
    background-size: 24px 24px;
    height: 24px;
    width: 24px;
  }
}
}

// .share-box::after {
//   border-radius: 5px;
//   position: absolute;
//   z-index: -1;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
//   opacity: 0;
//   -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
//   transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
// }

// .share-box:hover {
//   -webkit-transform: scale(1.1, 1.1);
//   transform: scale(1.1, 1.1);
// }

// .share-box:hover::after {
//     opacity: 1;
// }

.confirmation-title {
	// margin-left: 24px;
	margin: 16px;
}

.instructions-box {
	border: 1px solid $darker-ivory;
  border-radius: 24px;
  padding: 24px;
	margin-bottom: 16px;
	width: fit-content;
	height: fit-content;
}

.instructions-title {
	display: flex;
	align-items: center;
}

.fundraise-message {

}

.recs-box {
	// margin-left: 32px;
}

.recs-results {
	display: flex;
	align-items: flex-start;
}

.back-button {
	display: flex;
	align-items: flex-end;
}

//Non animated meter for cards

// Meter CSS & animation
.card-meter {
	height: 16px;
	position: relative;
	background: #f3efe6;
	overflow: hidden;
}

.card-meter span {
	display: block;
	height: 100%;
}

.card-progress {
	background-color: #e4c465;
	// animation: progressBar 1.25s ease-in-out;
	// animation-fill-mode:both;
}

// @keyframes progressBar {
// 	0% { width: 0; }
// 	100% { width: 100%; }
// }

// Meter end

//Meter end
