* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.page {
  background-color: $sage;
  height: calc(100vh - 66px);
  overflow: auto;
}
.page-box {
  margin: 0 24px 24px 24px;
  background-color: $ivory;
  border-radius: 24px;
  h1 {
    font-weight: 700;
  }
  h3 {
    font-weight: 400;
  }
}

#event-show {
  padding: 48px;
}

.event-title {
  .event-form-box {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .event-social-container {
    display: flex;
    flex-direction: row-reverse;
	}
	.event-location-category {
		display: flex;
		margin-top: 4px;
	}
	.event-location-text {
		margin-right: 4px;
	}
}

.no-input {
  display: none;
}

.event-small-info {
  font-size: smaller;
}

.time-left-container {
  display: flex;
  justify-content: space-between;
}

// Meter CSS & animation
.meter {
  height: 24px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

.progress {
  background-color: #e4c465;
  animation: progressBar 1.25s ease-in-out;
  animation-fill-mode: both;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

// Meter end

.seaweed-text {
  color: $seaweed;
}
.gunmetal-text {
  color: $gunmetal;
  a {
    color: $gunmetal;
    font-size: 36px;
  }
}

.event-show-box {
  padding: 16px;
  margin: 16px;
}

.event-about-header {
	display: flex;
	justify-content: space-between;
}

.event-show-organization {
  display: flex;
  justify-content: space-between;
}

.event-show-organization-details {
  width: 640px;
	padding: 0 48px 16px 0;
	.event-show-organization-title {
		display: flex;
	}
	.event-show-organization-title-text {
		margin-left: 16px;
		display: flex;
		align-items: center;
	}
	.event-show-organization-description {
		margin-top: 16px;
	}
}

.organizer-details {
	width: 400px;
}

.border-box {
  border-radius: 24px;
  padding: 24px;
  border: 1px solid $darker-ivory;
}

.organizer-details-title {
  display: flex;
  align-items: center;
}

.other-events-box {
  height: 400px;
}

.event-comment-container {
  margin-top: 16px;
  width: auto;
}

.event-comment-contents {
	display: flex;
	padding: 2px 2px;
}

.event-comment-name {
	display: flex;
	align-items: center;
}

.event-comment-text {
	padding: 2px;
	margin: 4px 0 4px 16px;
}

.event-comment {
  background-color: $darker-ivory;
  border-radius: 24px;
  padding: 24px;
  margin: 8px;
  width: fit-content;
}

.event-comment-input {
	margin-top: 16px;
	width: 80%;

}

.input-form {
  height: 38px;
}

.other-events-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

// .simple_form label {
//   float: left;
//   width: 100px;
//   text-align: right;
//   margin: 2px 10px;
// }

// .simple_form div.input {
//   margin-bottom: 10px;
// }

// ----------------------------------------------------PHONE------------------------------------------------------------
@media only screen and (max-width: 767px) {
  .page-box {
    margin: 0 12px 12px 12px !important;
	}
	
	#event-show {
		padding: 16px;
	}

	.event-title {
		display: block;
	}

	.event-title-details {
		display: block;
	}

	.event-title-text {
		font-size: 24px;
		margin: 0;
		a {
			font-size: 24px;
			margin: 0;
		}		
	}

	.target-meter {
		margin: 16px 0;
	}

	.event-form-box {
		margin: 16px 0;
		padding: 16px;
	}

	.event-photo-img {
		width: 100%;
	}

	.event-small-info {
		.social_share_btn {
			width: auto;
			display: block;
		}
	}

	.event-social-container {
		display: block;
	}

	.event-show-organization {
		display: block;
		width: 100%;
	}

	.event-show-organization-title-text {
		h5 {
			font-size: 16px;
		}
		a {
			font-size: 20px;
		}
	}

	.event-show-box {
		padding: 0;
		h3 {
			font-size: 20px;
		}
	}

	.event-show-organization-details {
		width: auto;
		padding: 0;
		margin-bottom: 16px;
	}

	.organizer-details {
		width: auto;
		margin: 16px 0;
	}

	.organizer-details-title {
		h4 {
			font-size: 20px;
		}
		h5 {
			font-size: 16px;
		}
	}

	.border-box {
		margin: 0;
	}

	.other-events {
		margin-top: 16px;
		.other-events-box {
			margin: 0 auto;
			overflow-x: scroll;
			padding: 8px;
			height: 100%;
		}
	}

	.event-comment-container {
		margin: 0 auto;
	}

	.event-comment {
		padding: 16px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		.event-comment-text {
			display: flex;
			align-items: center;
		}
	}

	.event-comment-input {
		margin: 0 auto;
		width: 80vw;
	}

	.event-comment-user {
		margin: 0 auto;
    width: auto;
    text-align: center;
		h5 {
			font-size: 16px;
		}
	}
}

//-----------------------------------------------------large---------------------------------------------------------------
@media only screen and (min-width: 768px) {
	.event-title-text {
		font-size: 32px;
		a {
			font-size: 32px;
		}		
	}

	.event-photo-img {
		height: 200px;
		width: 300px;
	}

	.event-title {
		display: flex;
		.event-title-details {
			display: flex;
			margin-top: 16px;
		}
		.event-title-photo {
			margin-right: 16px;
		}
	}

	.goals-container {
		margin-left: 24px;
	}

	.target-container {
		h3 {
			font-size: 24px;
		}
	}

	.event-small-info {
		.social_share_btn {
			width: auto;
			display: block;
		}
	}

	.organizer-details {
		width: 400px;
		height: auto;
	}

	.other-events {
		margin-top: 16px;
	}

	.event-comment {
		padding: 16px;
		width: 100%;
		.event-comment-text {
			display: flex;
			align-items: center;
			margin: 0 32px;
		}
	}

	.yes-btn {
		width: 160px;
	}
}

@media only screen and (min-width: 1200px) {
	.event-photo-img {
		height: 300px;
		width: 400px;
	}

	.event-title {
		display: flex;
		.event-title-details {
			width: 100%;
			display: flex;
			justify-content: space-around;
		}
	}

	.goals-container {
		width: 800px;
		margin-left: 32px;
	}

	.yes-btn {
		width: 160px;
	}

	.organizer-details {
		width: 400px;
		height: 300px;
	}
}
