// Specific CSS for your home-page
.home-banner {
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 160px;
    text-align: center;
    color: $ivory;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  h2 {
    color: $ivory;
    line-height: 0.9;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  .home-button {
    text-align: center;
  }
  .home-text {
    backdrop-filter: blur(0);
    background-color: rgba(250, 250, 250, 0);
  }
}
.featured-recommended {
  display: flex;
}

.page-box-home-info {
  overflow: scroll;
}

.recommended-address {
  font-size: 12px;
}

.recommended-line1 {
  align-items: center;
}

.home-banner-video {
  position: absolute;
  // margin-top: 66px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0.8);
  margin-bottom: 48px;
  -webkit-box-shadow: 0 8px 6px -6px rgb(61, 61, 61);
  -moz-box-shadow: 0 8px 6px -6px rgb(61, 61, 61);
  box-shadow: 0 8px 6px -6px rgb(61, 61, 61);
  // z-index: -1;
}

.home-projects {
  margin-top: 120px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

// Meter CSS & animation
.home-meter {
  height: 24px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.home-meter span {
  display: block;
  height: 100%;
}

.home-progress {
  background-color: $maize;
  animation: progressBar 5s ease-in-out;
  animation-fill-mode: both;
}

@keyframes progressBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

// Meter end

.top-org-logo {
  height: 160px;
  width: 160px;
  background-size: cover;
}

.home-btn {
  background-color: #fd4c3d;
  color: $ivory;
}

.btn {
  color: $ivory;
}
// ----------------------------------------------------PHONE------------------------------------------------------------
@media only screen and (max-width: 767px) {
  .page-box {
    margin: 0 12px 12px 12px !important;
  }
  h3 {
    font-size: 24px;
  }
  .featured-recommended {
    display: block;
    margin: 0;
    padding: 0;
  }

  .featured {
    padding-bottom: 8px;
    border-bottom: 1px solid gray;
  }
  .featured-image {
    // height: 240px;
    width: 100%;
    object-fit: cover;
    margin: auto;
    align-items: center;
  }
  .featured-info {
    display: block;
  }
  .org-avatar-home {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  .featured-org {
    justify-content: space-between;
  }
  .org-avata-home-event {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: top;
  }
  .top-org-logo {
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
  .top-org-name {
    display: none;
  }
}
//-----------------------------------------------------large---------------------------------------------------------------
@media only screen and (min-width: 768px) {
  .featured-recommended {
    margin: 16px;
    padding: 12px;
  }
  .featured {
    .featured-image {
      height: 380px;
      width: 540px;
      object-fit: cover;
    }
    .org-avatar-home {
      height: 80px;
      width: 80px;
    }
  }
  .org-avata-home-event {
    height: 180px;
    width: 280px;
    object-fit: cover;
  }

  .recommended {
    display: flex;
    flex-direction: column;
  }
  .org-avatar-home {
    border-radius: 50%;
  }

  .recommended {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
  }
  .featured-info {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .top-org {
    padding: 16px;
  }
  .top-org-logo {
    height: 160px;
    width: 160px;
    object-fit: cover;
  }
}
@media only screen and (min-width: 1200px) {
}
