// Specific CSS for your home-page
.home-banner {
	height: calc(100vh - 66px);
	background-repeat: no-repeat;
  background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
  h1 {
		font-size: 96px;
		text-align: center;
		color: $ivory;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	}
	h2 {
		color: $ivory;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	}
	.home-button {
		text-align: center;
	}
	.home-text {
		backdrop-filter: blur(1px);
		background-color: rgba(250,250,250,0);
	}
}
