* {
  text-decoration: none !important;
}
.map-box {
  position: absolute;
  z-index: 99;
  background-color: $ivory;
  height: 500px;
  overflow: scroll;
	margin-left: 24px;
  width: 300px;
  border-radius: 5px;
  text-decoration: none !important;
}
.map-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-form-results {
	margin-left: 16px;
	margin-right: 16px;
	padding: 8px;
  display: flex;
  justify-content: space-between;
  align-item: center;
  h5 {
    margin: 0;
    color: #182B33;
  }
  p {
    margin: 0;
    font-weight: normal;
  }
}

.form-control {
	background-color: $ivory;
}

.map-results-organization-image {
	height: 30px;
	width: 30px;
}
.info-window {
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  a {
    color: white;
  }
  h6 {
    color: black;
  }
  p {
    margin-bottom: 0;
    margin-top: 0.2rem;
    font-weight: normal;
  }
}
.window-background {
  border-radius: 5px 5px 0 0;
  width: 200px;
  height: 100px;
}
.window-details {
  padding: 8px 16px 8px 16px;
}
.mapboxgl-popup-content {
  position: relative;
  padding: 0 !important;
}
.mapboxgl-popup-close-button {
  color: white;
  position: absolute;
  right: 6px !important;
  font-size: 16px;
}
.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4px;
}
.category-item {
  flex: 0 0 30%;
}
.category-selector {
  position: absolute;
  // transform: scale(0);
  cursor: pointer;
  opacity: 0;
}
.category-selector + label {
  display: block;
  // cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  text-align: left;
  padding: 10px 10px 10px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}
.category-selector:checked + label {
  color: white !important;
}
#category_volunteer + label {
  color: #FD1015;
}
#category_volunteer:checked + label {
  background-color: #FD1015;
  border-color: #FD1015;
}
#category_donation + label {
  color: #FFC65A;
}
#category_donation:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}
#category_fundraiser + label {
  color: #62DDF5;
}
#category_fundraiser:checked + label {
  background-color: #62DDF5;
  border-color: #62DDF5;
}
.category-box {
  margin: 8px 16px 0px 16px;
}
.results {
  text-decoration: none;
}
