// Default template for page
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.user-banner-title {
  display: flex;
}
.banner-headers {
  display: flex;
}
.bio {
  background-color: $beige;
  border-radius: 24px;
  margin: 4px, 4px;
  padding: 24px;
  p {
    color: black;
  }
}

.feed {
  background-color: $darker-ivory;
  border-radius: 24px;
  padding: 24px;
  margin: 4px, 4px;

}
.feed-scroll {
  //width: 800px;
  height: 400px;
  overflow: scroll;
}

.feed-comment {
  background-color: white;
  margin: auto;
}

.feed-comment-content {
  padding: 24px;
  // margin-left: 32px;
}
.feed-comment-poster {
  align-items: center;
   .feed-comment-org {
      align-items: center;
      display: flex;
    }
  }


.contributed {
  padding: 24px;
  margin: 4px, 4px;
  background-color: $beige;
  border-radius: 24px;
}


.upcomming-card {
  list-style: none;
  background-color: $beige;
  width: 200px;
  height: 245px;

  margin: 16px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  .upcomming-card-pic {
    border-radius: 5px 5px 0 0;
    // height: 120px;
    // width: 240px;
    margin-bottom: 4px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    padding: 24px;
  }
  .card-info {
    padding: 16px;
  }
}

.user-page-box {
  background-color: $darker-ivory;
  border-radius: 24px;
  padding: 24px;
  // margin-bottom: 16px;
}

// Coloured text to emphasize certain words
.maize-text {
  color: $maize;
}

.ivory-text {
  color: $ivory;
}

.banner-headers {
  color: $ivory;
}

// Styling

.user-banner {
  border-radius: 24px 24px 0 0;

  height: 300px;
  display: flex;

  align-items: center;

  .user-avatar {
    border-radius: 50%;
    border: 4px solid white;
  }
}



.user-box {
  background-color: $darker-ivory;
  border-radius: 24px;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // margin-bottom: 16px;
}

.user-profile {
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 48px;
}

.ivory-card {
  position: relative;
  list-style: none;
  background-color: $beige;
  width: 240px;
  height: 320px;
  margin: 16px;
  padding: 24px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  .ivory-card-pic {
    height: 100px;
    width: 200px;
    margin-bottom: 4px;
  }
}

.ivory-card::after {
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ivory-card:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.ivory-card:hover::after {
  opacity: 1;
}

.user-banner-image {
  width: 100%;
  background-size: cover;
}

.events {
  padding-top: 24px;
  padding-left: 48px;
  padding-right: 48px;
}

.status-badge-Pending {
  padding: 4px;
  border-radius: 4px;
  width: 70px;
  // position: absolute;
  // top: 12px;
  // right: 12px;
  background-color: grey;
  color: lightgray;
}
.status-badge-Approved {
  padding: 4px;
  border-radius: 4px;
  width: 80px;
  // position: absolute;
  // top: 12px;
  // right: 12px;
  background-color: green;
  color: lightgreen;
}

.status-badge-Declined {
  padding: 4px;
  border-radius: 4px;
  width: 74px;
  // position: absolute;
  // top: 12px;
  // right: 12px;
  background-color: darkred;
  color: red;
}

.organizations-history {
  margin-top: 24px;
}
.user-page-pics {
  width: 530;
}
.numbers {
  width: 120px;
}


//---------------------------PHONE----------------------------
@media only screen and (max-width: 767px) {

  .user-sections {
    padding-bottom: 4px;
  }
  .user-banner-items {
    padding: 0 auto 0 auto;
    align-items: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    width: 100%;
  }

  .banner-headers {
    margin: 0 auto;
  }
  .user-banner-title {
    margin: 0 24px;
  }
   .numbers {
    margin: 10px;
   }

  .profile-mid {
    display: block;
  }
  .bio {
    margin: 0 auto;
    padding: 16px;
  }

  .feed {
    margin: 8px auto;
    padding: 16px;
  }

  .feed-comment-content{
    padding: 12px;
  }

  .feedback-img {
    width: 100%;
    margin: 0 auto;
  }

  .feed-comment-poster {
  display: block;
  }

  .contributed {
    overflow: scroll;
    padding: 16px;
    margin-bottom: 8px;

  }
  .upcomming {
    display: flex;

    overflow: scroll;
    overflow-y: hidden;
  }
  .upcomming-card {
    list-style: none;
    background-color: $beige;
    margin: 8px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 240px;
    height: 280px;

    .upcomming-card-contents {
      width: 240px;
      height: 280px;
    }
    .upcomming-card-pic {
      border-radius: 5px 5px 0 0;
      margin-bottom: 4px;
      color: white;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      padding: 24px;
      height: 120px;
    }
    .card-info {
      padding: 16px;
    }
  }

  .organizations-history {
    .user-box {
      overflow: scroll;
    }
  }

  .badges {
    width: 70px;
    height: 140;
  }

  .events {
    .user-box {
      overflow: scroll;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .user-sections {
    padding-bottom: 4px;
  }
  .user-banner-items {
    padding: 0 auto 0 auto;
    align-items: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    width: 100%;
  }

  .banner-headers {
    margin: 0 auto;
  }
  .user-banner-title {
    margin: 0 24px;
  }
   .numbers {
    margin: 10px;
   }

  .profile-mid {
    display: block;
  }
  .bio {
    margin: 0 auto;
    padding: 16px;
  }

  .feed {
    margin: 8px auto;
    padding: 16px;
  }

  .feed-comment-content{
    padding: 12px;
  }

  .feedback-img {
    width: 100%;
    margin: 0 auto;
  }

  .feed-comment-poster {
  display: block;
  }

  .contributed {
    overflow: scroll;
    padding: 16px;
    margin-bottom: 8px;

  }
  .upcomming {
    display: flex;

    overflow: scroll;
    overflow-y: hidden;
  }
  .upcomming-card {
    list-style: none;
    background-color: $beige;
    margin: 8px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 240px;
      height: 280px;

    .upcomming-card-contents {
      width: 240px;
      height: 280px;
    }
    .upcomming-card-pic {
      border-radius: 5px 5px 0 0;
      margin-bottom: 4px;
      color: white;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      padding: 24px;
      height: 120px;
    }
    .card-info {
      padding: 16px;
    }
  }

  .organizations-history {
    .user-box {
      overflow: scroll;
    }
  }

  .badges {
    width: 100px;
    height: 140;
  }

  .events {
    .user-box {
      overflow: scroll;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .user-banner-items {
    padding: 0 48px 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    width: 100%;
  }
  .banner-headers {
    justify-content: space-between;
  }
  .profile-mid {
    display: flex;
  }
  .feed {
    margin: 12px 0;
    width: 820px !important;
    height: 500px;
  }

  .feedback-img {
    width: 530px;
  }

  .feed-comment-poster {
  display: flex;
  }
  .upcomming {
  height: 400px;
  overflow: scroll;
  .upcomming-card-pic {
    height: 120px;
  }
  }
  .user-banner-title {
    margin-right: 5px;
  }
  .bio {
    height: 500px;
    width: 300px;
    overflow: scroll;
    margin: 12px 0;
  }
  .contributed {
    width: 300px;
    height: 500px;
    margin: 12px 0;
  }
  .badges {
    width: 140px;
    height: 140;
  }
}

