// Default template for page
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.page {
	background-color: $sage;
	height: calc(100vh - 66px);
	overflow: auto;
}
.page-box {
	background-color: $ivory;
	border-radius: 24px;
	margin: 0 24px 24px 24px;
	// padding: 48px;
		h1 {
			font-weight: 700;
		}
		h3 {
			font-weight: 400;
		}
}

// .profile-mid {
//   background-color: green;
// }

.bio {
  background-color: $beige;
  border-radius: 24px;
  width: 520px;
  height: 500px;
  margin: 4px, 4px;
  padding: 24px;
  overflow: scroll;
  p {
  color: black;

}
}

.feed {
  background-color: $darker-ivory;
  border-radius: 24px;
  padding: 24px;
  margin: 4px, 4px;
  width: 820px;
}
  .feed-scroll {
  width: 700px;
  height: 400px;
  overflow: scroll;
}

.feed-comment {
  background-color: white;
  margin: auto;
  img {
    margin-left: 36px;
  }
}

.feed-comment-content {
  // margin-left: 32px;
}

.contributed {
    padding: 24px;
  margin: 4px, 4px;
  background-color: $beige;
  border-radius: 24px;
    width: 480px;
    height: 500px;

}
.upcomming {

   height: 400px;
   overflow: scroll;
}

.upcomming-card {
  list-style: none;
  background-color: $beige;
  width: 200px;
  height: 200px;

  margin: 16px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  .upcomming-card-pic {
    border-radius: 5px 5px 0 0;
    // height: 120px;
    // width: 240px;
    margin-bottom: 4px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    padding: 24px;
  }
.card-info {
  padding: 16px;
}
}

.badges {
  background-color: $darker-ivory;
  border-radius: 24px;
  padding: 24px;
  // margin-bottom: 16px;
}

// Coloured text to emphasize certain words
.maize-text {
	color: $maize;
}

.ivory-text {
	color: $ivory;
}


  .banner-headers {
    color: $ivory;
  }

// Styling


.user-banner {
	border-radius: 24px 24px 0 0;

	height: 300px;
	display: flex;

	align-items: center;


	.user-avatar {
		border-radius: 50%;
		border: 4px solid white;
	}


	.user-banner-items {
		padding-left: 48px;
	// 	// display: flex;
		align-items: center;

		width: 780px;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.4);

	// 	width: 720px;
	// 	text-shadow: 1px 1px 3px rgba(0,0,0,0.4);

	}

}



.user-box {
	background-color: $darker-ivory;
	border-radius: 24px;
	padding: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	// margin-bottom: 16px;
}

.user-profile {
	padding-left: 48px;
	padding-right: 48px;
	padding-bottom: 48px;
}

.ivory-card {
  position: relative;
	list-style: none;
	background-color: $beige;
	width: 240px;
	height: 320px;
	margin: 16px;
	padding: 24px;
	display: inline-block;
	border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	.ivory-card-pic {
		height: 100px;
		width: 200px;
		margin-bottom: 4px;
	}
}

.ivory-card::after {
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ivory-card:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.ivory-card:hover::after {
    opacity: 1;
}

.user-banner-image {
	width: 100%;
	background-size: cover;
}

.events {
	padding-top: 24px;
	padding-left: 48px;
	padding-right: 48px;
}

.status-badge-Pending{
  padding: 4px;
  border-radius: 4px;
  width: 70px;
  // position: absolute;
  // top: 12px;
  // right: 12px;
  background-color:grey;
  color: lightgray;
}
.status-badge-Approved{
  padding: 4px;
  border-radius: 4px;
  width: 80px;
  // position: absolute;
  // top: 12px;
  // right: 12px;
  background-color:green;
  color: lightgreen;
}

.status-badge-Declined{
  padding: 4px;
  border-radius: 4px;
  width: 74px;
  // position: absolute;
  // top: 12px;
  // right: 12px;
  background-color:darkred;
  color: red;
}

.organizations-history {
	margin-top: 24px;
}
