
<p><%= @event.title %></p>

<div>
  <p><%= @event.owner.nickname %></p>
  <p><%= @event.owner.description %></p>
  <p><%= @event.owner.events_as_owner.count %> events </p>
</div>

<div>
  <p>target amount $$$</p>
  <p>remaining: ... days</p>
  <p>Contributors: ...</p>
</div>

<div>
  <p>recommended</p>
</div>

<div>
  <p>comments</p>
</div>
