<div class="page">
  <div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path Organization.first.photos.second.key, height: 1000, width: 1500, crop: :fill %>')">
    <div class="home-text">
			<h1>iru</h1>
			<h2>Contribute to a cause near you</h2>
			<div class="home-button"><%= link_to "Explore your community", map_path, class: 'btn btn-primary m-3' %></div>
		</div>
  </div>
</div>
