.navbar-lewagon {
  justify-content: space-between;
  background-color: $sage;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
	width: 40px;
}
.navbar-lewagon {
  padding: 0.3rem 24px;
}

.nav-list {
  list-style-type: none;
  margin-bottom: 0;
  display: flex;

}
.dropdown-menu {
	background-color: $sage;

}

.dropdown-menu-pending {
  background-color: $sage;
  overflow: scroll;
	height: 500px;
}

.dropdown {
	margin-left: 8px;
	margin-right: 8px;
}

.avatar {
	width: 40px;
	height: 40px;

}

.nav-link {
	margin-left: 8px;
	margin-right: 8px;
}
.nav-item {
  margin-top: 8px;
}

#user-avatar {
  margin-top: 0px;

}
.dropdown-box {
	display: flex;
	justify-content: space-between;
}

@media only screen and (max-width: 480px) {
#org-dropdown  {
    right: -80px;
    left: auto;
  }
#user-avatar {
    right: 0px;
    left: auto;
}

}
